<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link type="application/rss+xml" rel="alternate" href="<%= feed_url %>" title="Simple Blog RSS feed">
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Page Sidebar -->
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", width: "40px" %>
      <% end %>
    </div>
    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
    <ul>
      <li class="category">Social</li>
      <li> <a href="https://eg.linkedin.com/in/heshamsalahuldeen">Hesham Salah</a> </li>
    </ul>
  </div>

  <div id="main_content">
    <div id="header">
      <!-- Check if you are in the home page -->
      <% if current_page?(root_path) %>
        All Posts
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Back to home page", root_path %>
      <% end %>

      <% if user_signed_in? %>
          <button class="buttons button"><%= link_to "New Post", new_post_path %></button>
          <button class="buttons button"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
      <% else %>
          <button class="buttons button"><%= link_to "Signin", new_user_session_path %></button>
          <button class="buttons button"><%= link_to "Signup", new_user_registration_path %></button>
      <% end %>
    </div>

    <% if current_page?(root_path) %>
      <div class="searchbox">
        <!-- A search box for filtering by title -->
        <%= form_tag(posts_path, method: 'get')  do %>
          <%= text_field_tag :search, nil, placeholder: "Enter Post Title..."%>
          <%= submit_tag "Search", name: nil, class: "button" %>
        <% end %>
      </div>
    <% end %>

    <!-- Error Messages Display -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "#{name}") %>
    <% end %>

    <!-- Main Content -->
    <%= yield %>
  </div>
</body>
</html>
